/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes header-focus {
  0% {
    inline-size: 0%;
    opacity: 0;
  }
  100% {
    inline-size: 100%;
    opacity: 0.6
  }
} 

@keyframes header-focus-backward {
  0% {
    inline-size: 100%;
    opacity: 0.6;
  }
  100% {
    inline-size: 0%;
    opacity: 0
  }
} 

@keyframes arrow {
  0% {
    left: -14px;
  }
  100% {
    left: -10px;
  }
} 

@keyframes button-hover {
  0% {
    inline-size: 0%;
  }
  100% {
    inline-size: 100%;
  }
}

@keyframes button-hover-backward {
  0% {
    inline-size: 100%;
  }
  100% {
    inline-size: 0%;
  }
}

@keyframes button-focus {
  0% {
    outline-color: transparent;
  }
  100% {
    outline-color: var(--accent-color);
  }
}

@keyframes heart-scale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

@keyframes sparks-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}