/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--bg-color);
  background-image: 
      repeating-linear-gradient(to right, var(--gradient-color) 0 2px, transparent 0 4px),
      repeating-linear-gradient(to bottom, var(--gradient-color) 0 2px, transparent 0 4px),
      repeating-linear-gradient(to bottom, var(--accent-gradient-first-color), var(--accent-gradient-second-color));
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  padding-inline: 120px;
  padding-block-end: 15px;
  font-family: var(--accent-font-family), fantasy;
  background-color: var(--bg-color);
  min-inline-size: 375px;
}

.header__title {
  align-self: center;
  padding-block-start: 135px;
  padding-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__description {
  align-self: center;
  padding-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  padding-inline-start: 18px;
}

.theme-menu__list {
  display: grid;
  grid-template-rows: 1fr 1fr 1.3fr;
  gap: 12px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  position: relative;
  border: none;
  opacity: 1;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  inset: 0;
  top: 15px;
  outline: none;
  opacity: 0.6;
  background-color: var(--accent-color);
  animation: header-focus-backward 0.3s ease;
  block-size: 2px;
  inline-size: 0;
}

.theme-menu__button:focus-visible::after {
  animation: header-focus 0.3s ease;
  inline-size: 100%;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -14px;
  animation: arrow 0.5s ease-in-out 0s infinite alternate both;
}

.roadmap {
  height: 100%;
  inline-size: 696px;
}

.roadmap__list {
  display: grid;
  gap: 52px;
}

.roadmap__list-item {
  display: grid;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card__header {
  padding-inline-start: 10px;
  padding-block-start: 7px;
  padding-block-end: 4px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--header-font-weight);
}

.card__img-container {
  position: relative;
  display: flex;
}

.card__img {
  border-block: 2px solid var(--accent-color);
  object-fit: contain;
  object-position: center;
  inline-size: 100%;
}

.img-filter-1 {
  filter: blur(5px);
}

.img-filter-2 {
  filter: brightness(0.4);
}

.img-filter-3 {
  filter: contrast(200%);
}

.img-filter-4 {
  filter: grayscale(50%);
}

.img-filter-5 {
  filter: hue-rotate(90deg);
}

.img-filter-6 {
  filter: grayscale(1) contrast(200%);
}

.img-filter-7 {
  filter: opacity(25%);
}

.card__nametag {
  position: absolute;
  inset: 0;
  justify-self: end;
  padding-inline-end: 25px;
  padding-block-start: 24px;
  opacity: 0.5;
  color: var(--text-fill-color);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  text-shadow: -1px 0 var(--text-stroke-color), 1px 0 var(--text-stroke-color), 0px 1px var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .card__nametag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.card__description {
  padding-inline: 23px;
  padding-block-start: 28px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.card__buttons {
  display: flex;
  justify-self: end;
  padding: 25px 23px 20px 0;
}

.card__icon-button {
  margin-inline-end: 6px;
  margin-block-start: 2px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  block-size: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  animation: button-focus 0.3s ease;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--fill-color);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.01s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.1s;
}

.core {
  transition: 0.3s 0.03s;
}

.main-body {
  fill: none;
  transition: 0.3s;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  block-size: 40px;
  inline-size: 130px;
}

.card__like-button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  animation: button-hover-backward 0.5s ease-in-out;
  inline-size: 0%;
}

.card__like-button:hover::after {
  animation: button-hover 0.5s ease-in-out;
  inline-size: 100%;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--btn-color);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  mix-blend-mode: difference;
}

.footer {
  margin-block-start: 54px;
  margin-block-end: 103px;
}

.footer__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--accent-color);
  padding: 12px 17px 15px 17px;
  background-color: var(--bg-color);
  cursor: pointer;
}

.footer__button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  animation: button-hover-backward 0.5s ease-in-out;
  inline-size: 0%;
}

.footer__button:hover::after {
  animation: button-hover 0.5s ease-in-out;
  inline-size: 100%;
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.floppy {
  position: relative;
  z-index: 1;
  color: var(--btn-color);
  block-size: 23px;
  mix-blend-mode: difference;
}

.dialog {
  border: 2px solid var(--accent-color);
  padding: 30px;
  background-color: var(--bg-color);
  max-inline-size: 353px;
}

.dialog__container {
  display: flex;
}

.dialog__container .floppy {
  align-self: center;
  color: var(--accent-color);
  block-size: 39px;
  inline-size: 39px;
  min-inline-size: 39px;
  mix-blend-mode: normal;
}

.dialog__header {
  padding-inline-start: 20px;
  color: var(--accent-color);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  margin-block-start: 30px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  cursor: pointer;
  block-size: 38px;
  inline-size: 100%;
}

.dialog__button .button__text {
  text-transform: uppercase;
}

.dialog__button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  animation: button-hover-backward 0.5s ease-in-out;
  inline-size: 0%;
}

.dialog__button:hover::after {
  animation: button-hover 0.5s ease-in-out;
  inline-size: 100%;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (max-width: 700px) {
  .header {
    padding-inline: 0;
    inline-size: 100%;
  }

  .header__title {
    padding-block-start: 120px;
  }
  
  .roadmap {
    inline-size: 100%;
  }

  .roadmap__list {
    gap: 51px;
  }
  
  .card__header {
    padding-inline: 10px;
  }
  
  .card__nametag {
    padding-inline-end: 13px;
  }
  
  .card__description {
    padding-inline-start: 25px;
    padding-inline-end: 26px;
    padding-block-start: 21px;
    padding-block-end: 5px;
  }
  
  .card__buttons {
    padding: 22px 23px 20px 0;
  }
  
  .footer__button {
    flex-direction: column;
    gap: 9px;
    padding: 14px 20px 15px 20px;
  }

  .floppy {
    block-size: 28px;
  }

  .dialog {
    max-inline-size: 341px;
  }
}