/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter';
  --accent-font-family: 'PressStart2P';
  --main-font-weight: 400;
  --header-font-weight: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --gradient-color: #d3d3d3;
  --accent-gradient-first-color: #e7e7e7;
  --accent-gradient-second-color: #1a1a1a;
  --text-stroke-color: #fff;
  --text-fill-color: #000;
  --btn-color: #fff;
  --contour-color: #000;
  --fill-color: #f00;
}